In [229]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import locale
from locale import atof

In [230]:
# Load in csv
filepath = os.path.join("Employment.csv")
employment_numbers_df = pd.read_csv(filepath)

filepath = os.path.join("Unemployment_numbers.csv")
unemployment_numbers_df = pd.read_csv(filepath)

filepath = os.path.join("Unemployment_rate.csv")
unemployment_rate_df = pd.read_csv(filepath)

filepath = os.path.join("Laborforce.csv")
laborforce_df = pd.read_csv(filepath)

filepath = os.path.join("Income.csv")
income_df = pd.read_csv(filepath)

filepath = os.path.join("Population.csv")
population_df = pd.read_csv(filepath)

In [231]:
# Merge the monthly CSVs
merge_df = pd.merge(employment_df, unemployment_numbers_df, how="outer", on=["Year", "Period ID", "Period", "Area"])
merge_df2 = pd.merge(merge_df, unemployment_rate_df, how="outer", on=["Year", "Period ID", "Period", "Area"])
merge_df3 = pd.merge(merge_df2, laborforce_df, how="outer", on=["Year", "Period ID", "Period", "Area"])

# Select desired columns 
merge_df = merge_df3.drop(merge_df3.columns[[2,4,6,8,10]], axis=1)

# Change column name of Area to City
merge_df=merge_df.rename(columns = {'Area':'City', 'Period ID': 'Month'})

# Slice out MSA out of the City Names
merge_df["City"] = merge_df["City"].replace(' MSA','',regex=True)
merge_df = merge_df
# Convert Strings to Floats
merge_df["Employment"] = merge_df["Employment"].replace(',','',regex=True).astype('float')
merge_df["Unemployment"] = merge_df["Unemployment"].replace(',','',regex=True).astype('float')
merge_df["Labor Force"] = merge_df["Labor Force"].replace(',','',regex=True).astype('float')

In [232]:
annual_df = merge_df.groupby(['City', 'Year']).mean()
annual_df.head()

              Month    Employment  Unemployment  Unemployment Rate  \
City    Year
Abilene 1990    6.0  64529.230769   4052.750000           5.916667
        1991    6.0  65710.153846   3668.083333           5.283333
        1992    6.0  67170.538462   3907.083333           5.491667
        1993    6.0  68868.230769   3901.083333           5.350000
        1994    6.0  70362.384615   3630.000000           4.908333

               Labor Force
City    Year
Abilene 1990  68584.166667
        1991  69377.416667
        1992  71074.333333
        1993  72771.000000
        1994  73999.500000

In [233]:
# Clean up Income data to merge to annual data frame
# Select desired columns 
income_df = income_df.drop(income_df.columns[[1,3,4]], axis=1)

# Change column name of Area to City
income_df = income_df.rename(columns = {'Area':'City'})

# Slice out MSA out of the City Names
income_df["City"] = income_df["City"].replace(' MSA','',regex=True)
income_df.head()

# Convert Strings to Floats
income_df["Income"] = income_df["Income"].replace(',','',regex=True)

income = []
for x in income_df["Income"]:
    x = x[1:]
    x = int(x)
    income.append(x)

income_df["Income"] = income

# Group Data Frame and merge
annual_income_df = income_df.groupby(['City', 'Year']).mean()
annual_income_df.head()

              Income
City    Year
Abilene 1998   21816
        1999   22439
        2000   22917
        2001   23643
        2002   24591

In [237]:
twfc_final = pd.merge(merge_df, income_df, how="outer", on=["City", "Year"])
twfc_final = twfc_final.groupby(['City', 'Year']).mean()
twfc_final = twfc_final.drop(twfc_final.columns[[0]], axis=1)
twfc_final.head()

                Employment  Unemployment  Unemployment Rate   Labor Force  \
City    Year
Abilene 1990  64529.230769   4052.750000           5.916667  68584.166667
        1991  65710.153846   3668.083333           5.283333  69377.416667
        1992  67170.538462   3907.083333           5.491667  71074.333333
        1993  68868.230769   3901.083333           5.350000  72771.000000
        1994  70362.384615   3630.000000           4.908333  73999.500000

              Income
City    Year
Abilene 1990     NaN
        1991     NaN
        1992     NaN
        1993     NaN
        1994     NaN

In [238]:
len(twfc_final)

700